{{!--
Re-usable card for linking to posts
--}}
<article class="post-card {{if post.image 'with-image' 'no-image'}}" style={{computedStyle}}>
  <div class="gh-card-link">
    {{#link-to 'post' post.id}}
    {{#if post.image}}
    <img class="gh-card-image" src={{post.image}} alt={{post.title}} />
    {{/if}}
    <div class="gh-card-content">
      <span class="gh-card-meta"><time
          datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>
      <h2 class="gh-card-title">{{post.title}}</h2>
      <p>{{excerpt post.content words="20"}}</p>
      <strong>Read more</strong>
    </div>
    {{/link-to}}
  </div>
</article>