<div class="gh-viewport">
  <header id="gh-head" class="gh-head gh-head-stacked">
    <nav class="gh-container">
      <div class="gh-head-brand">
        <div class="gh-head-logo">
          {{#if this.blog.logo}}
          <img src={{this.blog.logo}} alt={{this.blog.title}} />
          {{else}}
          {{this.blog.title}}
          {{/if}}
        </div>
        <button class="gh-burger" type="button">
          <div class="gh-burger-box">
            <div class="gh-burger-inner"></div>
          </div>
        </button>
      </div>
      <div class="gh-head-menu">
        <Navigation />
      </div>
    </nav>
  </header>

  <main class="gh-main">

    {{outlet}}

  </main>

  <footer class="gh-foot">
    <div class="gh-container">
      <div class="gh-head-menu">
        <Navigation />
      </div>
      <div class="gh-foot-actions">
        <div class="gh-foot-actions-list">
          {{#if this.blog.facebook}}
          <a href={{this.blog.facebook}} title="Facebook" target="_blank" rel="noopener noreferrer">facebook</a>
          {{/if}}
          {{#if this.blog.twitter}}
          <a href={{this.blog.twitter}} title="Twitter" target="_blank" rel="noopener noreferrer">twitter</a>
          {{/if}}
        </div>
      </div>
      <div class="gh-foot-meta">
        Published with <a href="https://github.com/empress/empress-blog" target="_blank"
          rel="noopener noreferrer">empress-blog</a>
      </div>
    </div>
  </footer>
</div>