<div class="gh-page">
  <div class="gh-container">

    {{#let @model as |author|}}
    <header class="gh-page-head">
      {{#if author.image}}
      <img class="gh-author-image" src={{author.image}} alt={{author.name}} />
      {{/if}}

      <h1>{{author.name}}</h1>
      {{#if author.content}}
      <p>{{author.content}}</p>
      {{/if}}

      <div class="gh-author-meta">
        <div class="gh-author-links">
          {{#if author.twitter}}
          <a href={{author.twitter}} target="_blank" rel="noopener noreferrer">Twitter</a>
          {{/if}}
          {{#if author.facebook}}
          <a href={{author.facebook}} target="_blank" rel="noopener noreferrer">Facebook</a>
          {{/if}}
        </div>
      </div>
    </header>
    {{/let}}

    <div class="gh-postfeed">
      {{#each @model.posts as |post|}}
      <PostCard @post={{post}} />
      {{/each}}
    </div>

  </div>
</div>