{{#let @model.post as |post|}}
<article class="gh-article {{post.class}}">
  <header class="gh-header gh-canvas">
    <span class="gh-post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>

    <h1 class="gh-title">{{post.title}}</h1>

    <p class="gh-excerpt">{{excerpt post.content words="20"}}</p>

    {{#if post.image}}
    <img class="gh-feature-image" src={{post.image}} alt={{post.title}} />
    {{/if}}
  </header>

  <div class="gh-content gh-canvas">
    {{markdown-to-html post.content}}
  </div>

  <footer class="gh-footer gh-canvas">

    <div class="gh-post-authors">
      Written by <LinkTo @route="author" @model={{@model.post.author.id}}>{{@model.post.author.name}}</LinkTo>
    </div>

    {{!--
        <section class="gh-post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

  </footer>
</article>

<aside class="gh-readmore">
  <div class="gh-container">
    <div class="gh-readmore-prev">
      {{#if this.prevPost}}
      <LinkTo @route="post" @model={{this.prevPost.id}} class="post-nav-prev">
        <section class="post-nav-teaser">
          <h5 class="post-nav-title"> {{this.prevPost.title}}</h5>
        </section>
      </LinkTo>
      {{/if}}
    </div>
    <div class="gh-readmore-next">
      {{#if this.nextPost}}
      <LinkTo @route="post" @model={{this.nextPost.id}} class="post-nav-next">
        <section class="post-nav-teaser">
          <h5 class="post-nav-title">{{this.nextPost.title}}</h5>
        </section>
      </LinkTo>
      {{/if}}
    </div>
  </div>
</aside>


{{/let}}