<div class="gh-page">
  <div class="gh-container">

    {{#let @model as |tag|}}
    <header class="gh-page-head">

      <h1>{{tag.name}}</h1>

      <p>
        {{#if tag.content}}
        {{tag.content}}
        {{else}}
        A collection of {{plural tag.posts.length empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
      </p>

    </header>
    {{/let}}

    <div class="gh-postfeed">
      {{#each @model.posts as |post|}}

      <PostCard @post={{post}} />

      {{/each}}
    </div>

  </div>
</div>