{{!< default}}

<div class="gh-page">
  <div class="gh-container">

    {{#let model.tag as |tag|}}
    <header class="gh-page-head">

      <h1>{{tag}}</h1>

      <p>
        {{#if tag.description}}
        {{tag.description}}
        {{else}}
        A collection of {{plural model.posts.length empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
      </p>

      {{!-- {{#if feature_image}}
            <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
            {{/if}} --}}

    </header>
    {{/let}}

    <div class="gh-postfeed">
      {{#each model.posts as |post|}}

      <PostCard @post={{post}} />

      {{/each}}
    </div>

  </div>
</div>